# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/
.env


# IDE
.vscode/
.idea/

# Testing
.coverage
htmlcov/
.pytest_cache/


# Logs
*.log

# Temporary files
query_prodotti
.DS_Store
