<tr class="riga-dettagli" id="dettagli-{{ ordine_id }}">
  <td colspan="10" class="cella-dettagli-ordine">
    <div class="dettagli-ordine-contenitore">
      <h4 class="dettagli-ordine-titolo">Prodotti dell'ordine:</h4>
      <table class="dettagli-ordine-tabella">
        <thead class="dettagli-ordine-intestazione">
          <tr>
            <th>Prodotto</th>
            <th>Categoria</th>
            <th>Quantità</th>
            <th>Prezzo</th>
            <th>Subtotale</th>
            <th>Stato</th>
          </tr>
        </thead>
        <tbody>
          {% for prodotto in dettagli %}
            {% set badge_class = 'etichetta-base' %}
            {% if prodotto['stato'] == 'In Attesa' %}
              {% set badge_class = 'etichetta-in-attesa' %}
            {% elif prodotto['stato'] == 'In Preparazione' %}
              {% set badge_class = 'etichetta-in-preparazione' %}
            {% elif prodotto['stato'] == 'Pronto' %}
              {% set badge_class = 'etichetta-pronto' %}
            {% elif prodotto['stato'] == 'Completato' %}
              {% set badge_class = 'etichetta-completato' %}
            {% endif %}
            <tr>
              <td>{{ prodotto['nome'] }}</td>
              <td>{{ prodotto['categoria_menu'] }}</td>
              <td>{{ prodotto['quantita'] }}</td>
              <td>€{{ "%.2f"|format(prodotto['prezzo']) }}</td>
              <td>€{{ "%.2f"|format(prodotto['subtotale']) }}</td>
              <td><span class="etichetta-dettaglio {{ badge_class }}">{{ prodotto['stato'] }}</span></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      <div class="dettagli-ordine-totale">
        <span class="dettagli-ordine-totale-testo">Totale ordine: €{{ "%.2f"|format(totale) }}</span>
      </div>
    </div>
  </td>
</tr>
