<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
        <title>Cassa</title>
    </head>
    <header>
        <div class="logo">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo">
            <h2>Cassa</h2>
        </div>

        <p>Sagra Natività della Beata Vergine Maria</p>
    </header>

    <body>
        <section class="contenitore">
            <section class="menu-laterale">
                <div class="nav-wrapper">
                    <nav>
                        <ul id="categorie-tabs">
                            {% for categoria in categorie %}
                                <li class="linguetta" data-categoria="{{ categoria }}">{{ categoria }}</li>
                            {% endfor %}
                        </ul>
                    </nav>
                </div>
                
                <div class="contenitore-prodotti">
                    {% for categoria, prodotti in prodotti_per_categoria.items() %}
                        <div class="prodotti" data-categoria="{{ categoria }}">
                            {% for prodotto in prodotti %}
                                {% if prodotto["disponibile"] and prodotto["quantita"]|int > 0 %}
                                    <div class="prodotto" data-id="{{ prodotto['id'] }}" data-prezzo="{{ prodotto['prezzo'] }}" data-quantita="{{ prodotto['quantita'] }}">
                                        {% if prodotto["quantita"] <= 5 %}
                                            <div class="bollino-scorta"></div>
                                        {% endif %}
                                        <h4>{{ prodotto["nome"] }}</h4>
                                        <p>€{{ "%.2f"|format(prodotto["prezzo"]) }}</p>
                                        <div class="selettore-quantita">
                                            <button class="tasto-meno">-</button>
                                            <p>0</p>
                                            <button class="tasto-piu">+</button>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </section>

            <section class="riepilogo-carrello">
                <div class="titolo-sezione">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16">
                        <circle cx="8" cy="8" r="8"/>
                    </svg>
                    <h3>Riepilogo Ordine</h3>
                </div>
        
                <form action="{{url_for('aggiungi_ordine')}}" method="POST">
                    <input type="checkbox" id="checkbox-asporto" name="isTakeaway">
                    <label for="checkbox-asporto">Ordine da Asporto</label> <br />

                    <label for="nome-cliente">Nome Cliente</label> <br />
                    <hr class="divisore">
                    <input type="text" id="nome-cliente" name="nome_cliente" class="input-testo" required> <br />
                    
                    <div class="contenitore-campo" id="contenitore-tavolo">
                        <label for="numero-tavolo">Numero Tavolo</label> <br />
                        <hr class="divisore">
                        <input type="number" id="numero-tavolo" name="numero_tavolo" class="input-testo" min="1" max="80" required> <br />
                    </div>

                    <div class="contenitore-campo" id="contenitore-persone">
                        <label for="numero-persone">Numero Persone</label> <br />
                        <hr class="divisore">
                        <input type="number" id="numero-persone" name="numero_persone" class="input-testo" min="1" required> <br />
                    </div>

                    <label for="metodo-pagamento">Metodo di Pagamento</label> <br />
                    <hr class="divisore">
                    <select name="metodo_pagamento" id="metodo-pagamento" required>
                        <option value="Carta">Carta</option>
                        <option value="Contanti">Contanti</option>
                    </select>

                    <div class="contenitore-lista-ordine"></div>

                    <div class="totale-carrello">
                        <h2>Totale:</h2>
                        <h2>€0.00</h2>
                    </div>

                    <!-- Campo nascosto per inviare i prodotti selezionati -->
                    <input type="hidden" name="prodotti" id="prodotti-json">

                    <button class="tasto-conferma-ordine">Invia Ordine</button>
                </form>
            </section>
        </section>
        
        <script src="{{ url_for('static', filename='js/cassa.js') }}"></script>
    </body>
</html>
